footer {
  flex-direction: column;
  background-color: $footer-background;
  color: $footer-text-color;
  padding: 20px;
  min-height: 100px;

  .container {
    .row {
      .col-md-4 {
        flex-direction: column; 
        align-items: center;

        .footer-logo {
          max-height: 70px;
        }

        p {
          margin-top: 10px;
          font-weight: bold;
          color: $footer-text-color;
        }

        .social {
          @include center-flex; 
          margin-top: 10px;
          max-height: 70px;

          a {
            color: $footer-text-color;
            font-size: 20px;
            margin: 0 10px;
            text-decoration: none;

            &:hover {
              color: #ccc;
            }
          }
        }

        iframe {
          width: 150px;
          height: 150px; 
        }
      }
    }
  }
}
