/* VARIABLES */
$background-color: #000;
$text-color: #fff;
$header-background: #000;
$footer-background: #333;
$footer-text-color: #fff;
$button-background: #333;
$button-hover-background: #555;
$form-background: #000;
$form-text-color: #000;
$section-text-color: #fff;
$section-hover-background: rgba(0, 0, 0, 0.6);
